//
   Created by Владелец on 24.12.2016.

doctype html
extends ./index.jade
block append content
   div
      h2(style='text-align:center') #{pageTitle}
    div.container
       - if (titles.length)
       -for (var i = 0; i < titles.length; i++)
                div.book
                   a(href= '/'+ klass + '/' + titles[i] + '/' + urls[i]) #{titles[i]}
