//
   Created by Владелец on 24.12.2016.

doctype html
extends ./index.jade
block append content
    div.imagePreviewer
        div.imagePreviewerContent
            div.imagePreviewerContentControl
                div.prevImage
                    a(href="#") <
                div.nextImage
                    a(href="#") >
                div.closeImagePrevBtn
                    a(href="#") X
            div.imagePreviewerTitle Домашнее задание
            div.imagePreviewerImage
    div.bookHeader
        !{predmet}
    div.book.row
        !{content}