//
   Created by Владелец on 24.12.2016.

doctype html
extends ./index.jade
block append content
   div
      h2(style='text-align:center') The book
    div.container
                div.book
                   #{content}
