doctype html
html
    head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.1.0.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/foundation.min.css")
    link(rel="stylesheet" href="css/bootstrap-social.css")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous")
    title Book club
body
    div.menu
        nav.navbar
            div.container-fluid
                div.navbar-header
                    a(href="/").navbar-brand Мое домашнее задание
                ul.nav.navbar-nav
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 1-4 Классы
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/1-4-klassyi/angliyskiy-yazyik-1-4") Английский язык
                            li
                                a(href="/1-4-klassyi/informatika-1-4") Информатика
                            li
                                a(href="/1-4-klassyi/literaturnoe-chtenie-1-4") Литературное чтение
                            li
                                a(href="/1-4-klassyi/matematika-1-4") Математика
                            li
                                a(href="/1-4-klassyi/muzyika-1-4") Музыка
                            li
                                a(href="/1-4-klassyi/okrujayuschiy-mir-1-4") Окружающий мир
                            li
                                a(href="/1-4-klassyi/nemetskiy-yazyik-1-4") Немецкий язык
                            li
                                a(href="/1-4-klassyi/istoki-1-4") Истоки
                            li
                                a(href="/1-4-klassyi/russkiy-yazyik-1-4") Русский язык

                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 5 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/5-klass/angliyskiy-yazyik-5") Английский язык
                            li
                                a(href="/5-klass/geografiya-5") География
                            li
                                a(href="/5-klass/informatika-5") Информатика
                            li
                                a(href="/5-klass/istoriya-5") История
                            li
                                a(href="/5-klass/literatura-5") Литература
                            li
                                a(href="/5-klass/matematika-5") Математика
                            li
                                a(href="/5-klass/muzyika-5") Музыка
                            li
                                a(href="/5-klass/nemetskiy-yazyik-5") Немецкий язык
                            li
                                a(href="/5-klass/obj-5") ОБЖ
                            li
                                a(href="/5-klass/obschestvoznanie-5") Обществознание
                            li
                                a(href="/5-klass/prirod_biologiya-5") Природа/Биология
                            li
                                a(href="/5-klass/russkiy-yazyik-5") Русский язык
                            li
                                a(href="/5-klass/tehnologiya-5") Технология
                            li
                                a(href="/5-klass/fizika_himiya-5") Физика/Химия
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 6 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/6-klass/angliyskiy-yazyik-6") Английский язык
                            li
                                a(href="/6-klass/biologiya-6") Биология
                            li
                                a(href="/6-klass/geografiya-6") География
                            li
                                a(href="/6-klass/izo-6") ИЗО
                            li
                                a(href="/6-klass/informatika-6") Информатика
                            li
                                a(href="/6-klass/kraevedenie-6") Краеведение
                            li
                                a(href="/6-klass/istoriya-6") История
                            li
                                a(href="/6-klass/literatura-6") Литература
                            li
                                a(href="/6-klass/matematika-6") Математика
                            li
                                a(href="/6-klass/muzyika-6") Музыка
                            li
                                a(href="/6-klass/obj-6") ОБЖ
                            li
                                a(href="/6-klass/obschestvoznanie-6") Обществознание
                            li
                                a(href="/6-klass/rodnoy-kray-6") Родной край
                            li
                                a(href="/6-klass/russkiy-yazyik-6") Русский язык
                            li
                                a(href="/6-klass/nemetskiy-yazyik-6") Немецкий язык
                            li
                                a(href="/6-klass/tehnologiya-6") Технология
                            li
                                a(href="/6-klass/fizika_himiya-6") Физика/Химия
                            li
                                a(href="/6-klass/ekologiya-6") Экология
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 7 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/7-klass/algebra-7") Алгебра
                            li
                                a(href="/7-klass/angliyskiy-yazyik-7") Английский язык
                            li
                                a(href="/7-klass/biologiya-7") Биология
                            li
                                a(href="/7-klass/geografiya-7") География
                            li
                                a(href="/7-klass/geometriya-7") Геометрия
                            li
                                a(href="/7-klass/informatika-7") Информатика
                            li
                                a(href="/7-klass/istoriya-7") История
                            li
                                a(href="/7-klass/literatura-7") Литература
                            li
                                a(href="/7-klass/muzyika-7") Музыка
                            li
                                a(href="/7-klass/nemetskiy-yazyik-7") Немецкий язык
                            li
                                a(href="/7-klass/obj-7") ОБЖ
                            li
                                a(href="/7-klass/obschestvoznanie-7") Обществоведение
                            li
                                a(href="/7-klass/rodnoy-kray-7") Родной край
                            li
                                a(href="/7-klass/russkiy-yazyik-7") Русский язык
                            li
                                a(href="/7-klass/tehnologiya-7") Технология
                            li
                                a(href="/7-klass/fizika-7") Физика
                            li
                                a(href="/7-klass/frantsuzskiy-yazyik-7") Французский язык
                            li
                                a(href="/7-klass/himiya-7") Химия
                            li
                                a(href="/7-klass/ekologiya-7") Экология
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 8 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/8-klass/algebra-8") Алгебра
                            li
                                a(href="/8-klass/angliyskiy-yazyik-8") Английский язык
                            li
                                a(href="/8-klass/biologiya-8") Биология
                            li
                                a(href="/8-klass/geografiya-8") География
                            li
                                a(href="/8-klass/geometriya-8") Геометрия
                            li
                                a(href="/8-klass/istoriya-8") История
                            li
                                a(href="/8-klass/literatura-8") Литература
                            li
                                a(href="/8-klass/obschestvoznanie-8") Обществознание
                            li
                                a(href="/8-klass/russkiy-yazyik-8") Русский язык
                            li
                                a(href="/8-klass/fizika-8") Физика
                            li
                                a(href="/8-klass/himiya-8") Химия
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 9 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/9-klass/algebra-9") Алгебра
                            li
                                a(href="/9-klass/angliyskiy-yazyik-9") Английский язык
                            li
                                a(href="/9-klass/biologiya-9") Биология
                            li
                                a(href="/9-klass/geografiya-9") География
                            li
                                a(href="/9-klass/geometriya-9") Геометрия
                            li
                                a(href="/9-klass/informatika-9") Информатика
                            li
                                a(href="/9-klass/istoriya-9") История
                            li
                                a(href="/9-klass/nemetskiy-yazyik-9") Немецкий язык
                            li
                                a(href="/9-klass/obj-9") ОБЖ
                            li
                                a(href="/9-klass/obschestvoznanie-9") Обществознание
                            li
                                a(href="/9-klass/russkiy-yazyik-9") Русский язык
                            li
                                a(href="/9-klass/fizika-9") Физика
                            li
                                a(href="/9-klass/himiya-9") Химия
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 10 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/10-klass/algebra-10") Алгебра
                            li
                                a(href="/10-klass/angliyskiy-yazyik-10") Английский язык
                            li
                                a(href="/10-klass/biologiya-10") Биология
                            li
                                a(href="/10-klass/geografiya-10") География
                            li
                                a(href="/10-klass/geometriya-10") Геометрия
                            li
                                a(href="/10-klass/informatika-10") Информатика
                            li
                                a(href="/10-klass/obschestvoznanie-10") Обществознание
                            li
                                a(href="/10-klass/frantsuzskiy-yazyik-10") Французский язык
                            li
                                a(href="/10-klass/russkiy-yazyik-10") Русский язык
                            li
                                a(href="/10-klass/himiya-10") Химия
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle 11 класс
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/11-klass/algebra-11") Алгебра
                            li
                                a(href="/11-klass/angliyskiy-yazyik-11") Английский язык
                            li
                                a(href="/11-klass/geometriya-11") Геометрия
                            li
                                a(href="/11-klass/informatika-11") Информатика
                            li
                                a(href="/11-klass/himiya-11") Химия
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Переводы
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/perevodyi/8-klass-engl") 8 класс
                            li
                                a(href="/perevodyi/9-klass-engl") 9 класс
                            li
                                a(href="/perevodyi/10-klass-engl") 10 класс
                            li
                                a(href="/perevodyi/11-klass-engl") 11 класс

    div.container
        div.col-md-1
        div.contain.col-md-10
            div.title Примеры решений для всех!
            div.title-img
                img(src='img/students.png')
            div.block
            block content
        div.col-md-1
    div.container
        div.col-md-1
        div.col-md-10.description
            p У Вас возникли трудности с решением примера или Вы просто сомневаетесь в правильности своего ответа? Не стоит впадать в панику - решение очень простое! Помочь в этом вопросе Вам сможет MYSITE - Ваш надежный советчик и помощник. Наш сайт позволит Вам отлично справиться с точными науками, как математика или физика, и, кроме того, откроет доступ к наиболее полной и точной базы готовых домашних заданий по многим другим предметам. На нашем сайте вы найдете учебники по всем школьным дисциплинам. Также в свободном доступе имеются ГДЗ по гуманитарным предметам - украинскому и русскому языку. Мы сможем помочь Вам решить задачу по алгебре или химии любого уровня сложности, написать сочинение или разобрать сложное предложения. ГДЗ с нужного Вам предмета находятся в соответствующем разделе сайта. Поиск готовых домашних заданий по иностранным языкам также больше не проблема - они также находятся на нашем портале.
            p Посетите MYSITE - и насладитесь доступностью качественного контента без регистрации и никаких других ограничений! Удачи и вперед к новым знаниям и свершений!
        div.col-md-1

script(src="js/app.js" type='text/javascript')
include ./footer.jade
