doctype html
html
    head
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://code.jquery.com/jquery-3.1.0.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
    link(rel="stylesheet" href="css/foundation.min.css")
    link(rel="stylesheet" href="css/bootstrap-social.css")
    link(rel="stylesheet" href="css/style.css")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous")
    title Book club
body
    div.menu
        nav.navbar
            div.container-fluid
                div.navbar-header
                    a(href="/").navbar-brand Мое домашнее задание
                ul.nav.navbar-nav
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 1-4
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/1-4-klassyi/angliyskiy-yazyik-1-4") Eanglish
                            li
                                a(href="/1-4-klassyi/informatika-1-4") Informatica
                            li
                                a(href="/1-4-klassyi/literaturnoe-chtenie-1-4") Literaturnoe chtenije
                            li
                                a(href="/1-4-klassyi/matematika-1-4") Matematica
                            li
                                a(href="/1-4-klassyi/muzyika-1-4") Muzika
                            li
                                a(href="/1-4-klassyi/okrujayuschiy-mir-1-4") Okrugaushiy mir
                            li
                                a(href="/1-4-klassyi/nemetskiy-yazyik-1-4") Nemetski yazik
                            li
                                a(href="/1-4-klassyi/istoki-1-4") Istoki
                            li
                                a(href="/1-4-klassyi/russkiy-yazyik-1-4") Russki yazik

                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 5
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/5-klass/angliyskiy-yazyik-5") Angliyskiy
                            li
                                a(href="/5-klass/geografiya-5") Geographija
                            li
                                a(href="/5-klass/informatika-5") Informatika
                            li
                                a(href="/5-klass/istoriya-5") Istorija
                            li
                                a(href="/5-klass/literatura-5") Literatura
                            li
                                a(href="/5-klass/matematika-5") Matematika
                            li
                                a(href="/5-klass/muzyika-5") Muzyka
                            li
                                a(href="/5-klass/nemetskiy-yazyik-5") Nemetskiy
                            li
                                a(href="/5-klass/obj-5") OBG
                            li
                                a(href="/5-klass/obschestvoznanie-5") Obshestvoznaniye
                            li
                                a(href="/5-klass/prirod_biologiya-5") Priroda/Biologija
                            li
                                a(href="/5-klass/russkiy-yazyik-5") Russkiy jazyk
                            li
                                a(href="/5-klass/tehnologiya-5") Tehnologija
                            li
                                a(href="/5-klass/fizika_himiya-5") Fizika/Himija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 6
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/6-klass/angliyskiy-yazyik-6") Angliyskiy
                            li
                                a(href="/6-klass/biologiya-6") Biologia
                            li
                                a(href="/6-klass/geografiya-6") Geographija
                            li
                                a(href="/6-klass/izo-6") IZO
                            li
                                a(href="/6-klass/informatika-6") Informatika
                            li
                                a(href="/6-klass/kraevedenie-6") Kraevedenije
                            li
                                a(href="/6-klass/istoriya-6") Istorija
                            li
                                a(href="/6-klass/literatura-6") Literatura
                            li
                                a(href="/6-klass/matematika-6") Matematika
                            li
                                a(href="/6-klass/muzyika-6") Muzyka
                            li
                                a(href="/6-klass/obj-6") OBG
                            li
                                a(href="/6-klass/obschestvoznanie-6") Obshestvoznaniye
                            li
                                a(href="/6-klass/rodnoy-kray-6") Rodnoj kraj
                            li
                                a(href="/6-klass/russkiy-yazyik-6") Russkiy jazyk
                            li
                                a(href="/6-klass/nemetskiy-yazyik-6") Nemetskiy jazyk
                            li
                                a(href="/6-klass/tehnologiya-6") Tehnologija
                            li
                                a(href="/6-klass/fizika_himiya-6") Fizika/Himija
                            li
                                a(href="/6-klass/ekologiya-6") Ekologia
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 7
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/7-klass/algebra-7") Algebra
                            li
                                a(href="/7-klass/angliyskiy-yazyik-7") Angliyskiy
                            li
                                a(href="/7-klass/biologiya-7") Biologija
                            li
                                a(href="/7-klass/geografiya-7") Geographija
                            li
                                a(href="/7-klass/geometriya-7") Geometria
                            li
                                a(href="/7-klass/informatika-7") Informatika
                            li
                                a(href="/7-klass/istoriya-7") Istorija
                            li
                                a(href="/7-klass/literatura-7") Literatura
                            li
                                a(href="/7-klass/muzyika-7") Music
                            li
                                a(href="/7-klass/nemetskiy-yazyik-7") Nemetskiy jazyk
                            li
                                a(href="/7-klass/obj-7") OBG
                            li
                                a(href="/7-klass/obschestvoznanie-7") Obshestvovedie
                            li
                                a(href="/7-klass/rodnoy-kray-7") Rodnoy kray
                            li
                                a(href="/7-klass/russkiy-yazyik-7") Russkiy jazyk
                            li
                                a(href="/7-klass/tehnologiya-7") Tehnologija
                            li
                                a(href="/7-klass/fizika-7") Fizika
                            li
                                a(href="/7-klass/frantsuzskiy-yazyik-7") Francuzskiy jazyk
                            li
                                a(href="/7-klass/himiya-7") Himija
                            li
                                a(href="/7-klass/ekologiya-7") Ekologija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 8
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/8-klass/algebra-8") Algebra
                            li
                                a(href="/8-klass/angliyskiy-yazyik-8") Angliyskiy
                            li
                                a(href="/8-klass/biologiya-8") Biologija
                            li
                                a(href="/8-klass/geografiya-8") Geographija
                            li
                                a(href="/8-klass/geometriya-8") Geometria
                            li
                                a(href="/8-klass/informatika-8") Informatika
                            li
                                a(href="/8-klass/istoriya-8") Istorija
                            li
                                a(href="/8-klass/literatura-8") Literatura
                            li
                                a(href="/8-klass/nemetskiy-yazyik-8") Nemetskiy jazyk
                            li
                                a(href="/8-klass/obj-8") OBG
                            li
                                a(href="/8-klass/obschestvoznanie-8") Obshestvoznaniye
                            li
                                a(href="/8-klass/russkiy-yazyik-8") Russkiy jazyk
                            li
                                a(href="/8-klass/fizika-8") Fizika
                            li
                                a(href="/8-klass/himiya-8") Himija
                            li
                                a(href="/8-klass/ekologiya-8") Ekologija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 9
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/9-klass/algebra-9") Algebra
                            li
                                a(href="/9-klass/angliyskiy-yazyik-9") Angliyskiy
                            li
                                a(href="/9-klass/biologiya-9") Biologija
                            li
                                a(href="/9-klass/geografiya-9") Geographija
                            li
                                a(href="/9-klass/geometriya-9") Geometria
                            li
                                a(href="/9-klass/informatika-9") Informatika
                            li
                                a(href="/9-klass/istoriya-9") Istorija
                            li
                                a(href="/9-klass/literatura-9") Literatura
                            li
                                a(href="/9-klass/nemetskiy-yazyik-9") Nemetskiy jazyk
                            li
                                a(href="/9-klass/obj-9") OBG
                            li
                                a(href="/9-klass/obschestvoznanie-9") Obshestvoznaniye
                            li
                                a(href="/9-klass/russkiy-yazyik-9") Russkiy jazyk
                            li
                                a(href="/9-klass/fizika-9") Fizika
                            li
                                a(href="/9-klass/himiya-9") Himija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 10
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/10-klass/algebra-10") Algebra
                            li
                                a(href="/10-klass/angliyskiy-yazyik-10") Angliyskiy
                            li
                                a(href="/10-klass/biologiya-10") Biologija
                            li
                                a(href="/10-klass/geografiya-10") Geographija
                            li
                                a(href="/10-klass/geometriya-10") Geometria
                            li
                                a(href="/10-klass/informatika-10") Informatika
                            li
                                a(href="/10-klass/obschestvoznanie-10") Obshestvoznaniye
                            li
                                a(href="/10-klass/frantsuzskiy-yazyik-10") Francizskiy jazyk
                            li
                                a(href="/10-klass/russkiy-yazyik-10") Russkiy jazyk
                            li
                                a(href="/10-klass/himiya-10") Himija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Class 11
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/11-klass/algebra-11") Algebra
                            li
                                a(href="/11-klass/angliyskiy-yazyik-11") Angliyskiy
                            li
                                a(href="/11-klass/geometriya-11") Geometria
                            li
                                a(href="/11-klass/informatika-11") Informatika
                            li
                                a(href="/11-klass/himiya-11") Himija
                    li.dropdown
                        a(href="#" data-toggle="dropdown").dropdown-toggle Perevodi
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href="/perevodyi/8-klass-engl") 8 class
                            li
                                a(href="/perevodyi/9-klass-engl") 9 class
                            li
                                a(href="/perevodyi/10-klass-engl") 10 class
                            li
                                a(href="/perevodyi/11-klass-engl") 11 class
    div.title Лучшая домашняя работа!!!
div.block
block content
script(src="js/app.js" type='text/javascript')
include ./footer.jade
