//
   Created by Владелец on 22.02.2017.
doctype html
extends ./index.jade
block append content
   div.row.all-disciplines
      div.row
         div.col-md-4.klass
            div
               h3 1-4 Классы
            div
               div
                  a(href="/1-4-klassyi/angliyskiy-yazyik-1-4") Английский язык
               div
                  a(href="/1-4-klassyi/informatika-1-4") Информатика
               div
                  a(href="/1-4-klassyi/literaturnoe-chtenie-1-4") Литературное чтение
               div
                  a(href="/1-4-klassyi/matematika-1-4") Математика
               div
                  a(href="/1-4-klassyi/muzyika-1-4") Музыка
               div
                  a(href="/1-4-klassyi/okrujayuschiy-mir-1-4") Окружающий мир
               div
                  a(href="/1-4-klassyi/nemetskiy-yazyik-1-4") Немецкий язык
               div
                  a(href="/1-4-klassyi/istoki-1-4") Истоки
               div
                  a(href="/1-4-klassyi/russkiy-yazyik-1-4") Русский язык
         div.col-md-4.klass
            div
               h3 5 класс
            div
               div
                  a(href="/5-klass/angliyskiy-yazyik-5") Английский язык
               div
                  a(href="/5-klass/geografiya-5") География
               div
                  a(href="/5-klass/informatika-5") Информатика
               div
                  a(href="/5-klass/istoriya-5") История
               div
                  a(href="/5-klass/literatura-5") Литература
               div
                  a(href="/5-klass/matematika-5") Математика
               div
                  a(href="/5-klass/muzyika-5") Музыка
               div
                  a(href="/5-klass/nemetskiy-yazyik-5") Немецкий язык
               div
                  a(href="/5-klass/obj-5") ОБЖ
               div
                  a(href="/5-klass/obschestvoznanie-5") Обществознание
               div
                  a(href="/5-klass/prirod_biologiya-5") Природа/Биология
               div
                  a(href="/5-klass/russkiy-yazyik-5") Русский язык
               div
                  a(href="/5-klass/tehnologiya-5") Технология
               div
                  a(href="/5-klass/fizika_himiya-5") Физика/Химия
         div.col-md-4.klass
            div
               h3 6 класс
            div
               div
                  a(href="/6-klass/angliyskiy-yazyik-6") Английский язык
               div
                  a(href="/6-klass/biologiya-6") Биология
               div
                  a(href="/6-klass/geografiya-6") География
               div
                  a(href="/6-klass/izo-6") ИЗО
               div
                  a(href="/6-klass/informatika-6") Информатика
               div
                  a(href="/6-klass/kraevedenie-6") Краеведение
               div
                  a(href="/6-klass/istoriya-6") История
               div
                  a(href="/6-klass/literatura-6") Литература
               div
                  a(href="/6-klass/matematika-6") Математика
               div
                  a(href="/6-klass/muzyika-6") Музыка
               div
                  a(href="/6-klass/obj-6") ОБЖ
               div
                  a(href="/6-klass/obschestvoznanie-6") Обществознание
               div
                  a(href="/6-klass/rodnoy-kray-6") Родной край
               div
                  a(href="/6-klass/russkiy-yazyik-6") Русский язык
               div
                  a(href="/6-klass/nemetskiy-yazyik-6") Немецкий язык
               div
                  a(href="/6-klass/tehnologiya-6") Технология
               div
                  a(href="/6-klass/fizika_himiya-6") Физика/Химия
               div
                  a(href="/6-klass/ekologiya-6") Экология
      div.row
         div.col-md-4.klass
            div
               h3 7 класс
            div
               div
                  a(href="/7-klass/algebra-7") Алгебра
               div
                  a(href="/7-klass/angliyskiy-yazyik-7") Английский язык
               div
                  a(href="/7-klass/biologiya-7") Биология
               div
                  a(href="/7-klass/geografiya-7") География
               div
                  a(href="/7-klass/geometriya-7") Геометрия
               div
                  a(href="/7-klass/informatika-7") Информатика
               div
                  a(href="/7-klass/istoriya-7") История
               div
                  a(href="/7-klass/literatura-7") Литература
               div
                  a(href="/7-klass/muzyika-7") Музыка
               div
                  a(href="/7-klass/nemetskiy-yazyik-7") Немецкий язык
               div
                  a(href="/7-klass/obj-7") ОБЖ
               div
                  a(href="/7-klass/obschestvoznanie-7") Обществоведение
               div
                  a(href="/7-klass/rodnoy-kray-7") Родной край
               div
                  a(href="/7-klass/russkiy-yazyik-7") Русский язык
               div
                  a(href="/7-klass/tehnologiya-7") Технология
               div
                  a(href="/7-klass/fizika-7") Физика
               div
                  a(href="/7-klass/frantsuzskiy-yazyik-7") Французский язык
               div
                  a(href="/7-klass/himiya-7") Химия
               div
                  a(href="/7-klass/ekologiya-7") Экология
         div.col-md-4.klass
            div
               h3 8 класс
            div
               div
                  a(href="/8-klass/algebra-8") Алгебра
               div
                  a(href="/8-klass/angliyskiy-yazyik-8") Английский язык
               div
                  a(href="/8-klass/biologiya-8") Биология
               div
                  a(href="/8-klass/geografiya-8") География
               div
                  a(href="/8-klass/geometriya-8") Геометрия
               div
                  a(href="/8-klass/informatika-8") Информатика
               div
                  a(href="/8-klass/istoriya-8") История
               div
                  a(href="/8-klass/literatura-8") Литература
               div
                  a(href="/8-klass/nemetskiy-yazyik-8") Немецкий язык
               div
                  a(href="/8-klass/obj-8") ОБЖ
               div
                  a(href="/8-klass/obschestvoznanie-8") Обществознание
               div
                  a(href="/8-klass/russkiy-yazyik-8") Русский язык
               div
                  a(href="/8-klass/fizika-8") Физика
               div
                  a(href="/8-klass/himiya-8") Химия
               div
                  a(href="/8-klass/ekologiya-8") Экология
         div.col-md-4.klass
            div
               h3 9 класс
            div
               div
                  a(href="/9-klass/algebra-9") Алгебра
               div
                  a(href="/9-klass/angliyskiy-yazyik-9") Английский язык
               div
                  a(href="/9-klass/biologiya-9") Биология
               div
                  a(href="/9-klass/geografiya-9") География
               div
                  a(href="/9-klass/geometriya-9") Геометрия
               div
                  a(href="/9-klass/informatika-9") Информатика
               div
                  a(href="/9-klass/istoriya-9") История
               div
                  a(href="/9-klass/literatura-9") Литература
               div
                  a(href="/9-klass/nemetskiy-yazyik-9") Немецкий язык
               div
                  a(href="/9-klass/obj-9") ОБЖ
               div
                  a(href="/9-klass/obschestvoznanie-9") Обществознание
               div
                  a(href="/9-klass/russkiy-yazyik-9") Русский язык
               div
                  a(href="/9-klass/fizika-9") Физика
               div
                  a(href="/9-klass/himiya-9") Химия
      div.row
         div.col-md-4.klass
            div
               h3 10 класс
            div
               div
                  a(href="/10-klass/algebra-10") Алгебра
               div
                  a(href="/10-klass/angliyskiy-yazyik-10") Английский язык
               div
                  a(href="/10-klass/biologiya-10") Биология
               div
                  a(href="/10-klass/geografiya-10") География
               div
                  a(href="/10-klass/geometriya-10") Геометрия
               div
                  a(href="/10-klass/informatika-10") Информатика
               div
                  a(href="/10-klass/obschestvoznanie-10") Обществознание
               div
                  a(href="/10-klass/frantsuzskiy-yazyik-10") Французский язык
               div
                  a(href="/10-klass/russkiy-yazyik-10") Русский язык
               div
                  a(href="/10-klass/himiya-10") Химия
         div.col-md-4.klass
            div
               h3 11 класс
            div
               div
                  a(href="/11-klass/algebra-11") Алгебра
               div
                  a(href="/11-klass/angliyskiy-yazyik-11") Английский язык
               div
                  a(href="/11-klass/geometriya-11") Геометрия
               div
                  a(href="/11-klass/informatika-11") Информатика
               div
                  a(href="/11-klass/himiya-11") Химия
         div.col-md-4.klass
            div
               h3 Переводы
            div
               div
                  a(href="/perevodyi/8-klass-engl") 8 класс
               div
                  a(href="/perevodyi/9-klass-engl") 9 класс
               div
                  a(href="/perevodyi/10-klass-engl") 10 класс
               div
                  a(href="/perevodyi/11-klass-engl") 11 класс