body {
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    background-image: url("../img/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment:fixed;
}
.navbar{
    background-color: white;
}
.footer{
    margin-top: 20px;
    bottom:0;
}

.title{
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: cursive;
    margin-bottom: 50px;
}

.klass{
    color: #fffea9;

}