body {
    background-image: url("../img/background.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbar{
    background-color: white;
}
.footer{
    position: absolute;
    bottom:0;
}

.title{
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: cursive;
}